body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('https://i.imgur.com/uCRCUMP.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  height: 100vh; /* Set body height to 100% of viewport height */
  width: 100vw; /* Set body width to 100% of viewport width */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

#random-sentence {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-top: 10%;
}

#user-input {
  display: none;
}

ul {
  list-style-type: none; /* delete dots in line elements */
  margin-top: 5%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  height: 25vh;
  font-size: 25px;
  font-weight: bold;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: auto;
  justify-content: center;
  margin-top: 20%; 
  font-size: 15px;
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: rgb(236, 236, 236);
  background: linear-gradient(to right, #ff5b5b, #ffb54e);
  cursor: pointer;
}
