body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 214, 163);
}


#random-sentence {
  text-align: center;
  font-size: 34px;
  font-weight: bold;
  margin-top: 5%;
}

#user-input {
  display: none;
}


/* #sentences {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 10%;
} */


#complited-sentences,
#bad-letters,
#time {
  display:inline-block;
  align-items: center;
  margin-top: 5%;
  margin-right: 20px;
  display: inline-block;
  margin-right: 20px; /* Adjust this value as needed for spacing */
}